// If you change anything in here you must change the same thing inside:
// src/utils/breakpoints.js

$breakpoint-xs: 320px; /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
$breakpoint-sm: 480px; /* smartphones, Android phones, landscape iPhone */
$breakpoint-md: 600px; /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
$breakpoint-lg: 801px; /* tablet, landscape iPad, lo-res laptops ands desktops */
$breakpoint-xl: 1025px; /* big landscape tablets, laptops, and desktops */
$breakpoint-xxl: 1281px; /* hi-res laptops and desktops */
