// BASE
$duration-animation-base: 300ms;

// INPUT
$duration-animation-input: ($duration-animation-base * 0.3333333333) + $duration-animation-base;

// ABOUT ME GALLERY
$duration-animation-about-me-gallery-base: $duration-animation-base * 30;

// GITHUB CALENDAR
$duration-animation-github-calendar: $duration-animation-base * 16;
$duration-animation-github-calendar-delay: $duration-animation-base / 3;
$duration-animation-github-calendar-hover: $duration-animation-base;

// SKILLS GRID
$duration-animation-skills-grid: $duration-animation-base * 1.5;
$duration-animation-skills-grid-delay: $duration-animation-base * 1.3;

// PORTFOLIO PROJECT
$duration-animation-portfolio-project-base: $duration-animation-base * 1.5;
$duration-animation-portfolio-project-delay: $duration-animation-portfolio-project-base * 0.8;
