@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:200,400,700&display=swap");

$system-default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$heading-font-family: "Source Sans Pro", $system-default-font-family;
$heading-font-weight: 700;

$content-font-family: "Lora", $system-default-font-family;
$content-font-weight: 400;

$button-font-family: "Source Sans Pro", $system-default-font-family;
$button-font-weight: 400;

// %CLASS_NAME = sass placeholders - https://sass-lang.com/documentation/style-rules/placeholder-selectors
%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-default;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
  color: $color-text-default;
}

%font-button {
  font-family: $button-font-family;
  font-weight: $button-font-weight;
}
