$layer-negative-z-index: -1;
$layer-page-z-index: 1;
$layer-header-z-index: 10;
$layer-dropdown-z-index: 20;
$layer-hamburger-z-index: 30;
$layer-modal-z-index: 40;
$layer-popover-z-index: 50;
$layer-tooltip-z-index: 60;
