// GRID
$size-grid-padding: 1em;

// CONTENT (for typography)
$size-content-width-max: 50rem;
$size-content-width-min: 25rem;

// CONTAINER
$size-container-maxWidth: 78rem;
$size-container-blogPost-maxWidth: 45rem;

// SECTIONS
$size-section-paddingTop: 5rem;
$size-section-paddingTop--desktop: 12.5rem;
$size-section-paddingBottom: 7.5rem;
$size-section-paddingBottom--desktop: 12.5rem;

// Gutters
$size-gutter-width: 0.625rem;

// INPUTS
// $size-input-padding-vertical: 0.75em;
// $size-input-padding-horizontal: 1em;
$size-input-padding: 0 0.75rem 0.625rem 0.75rem;
$size-input-border: 1px;
// $size-input-border-radius: (1em + $size-input-padding-vertical * 2) / 10;
$size-input-borderRadius: 0;
$size-input-error-margin: -0.5em 0 0 0;

// BUTTONS
// regular
$size-button-padding-vertical: $size-grid-padding / 1.5;
$size-button-padding-horizontal: $size-grid-padding * 5;
$size-button-padding: $size-button-padding-vertical $size-button-padding-horizontal;

// alt
$size-buttonAlt-padding-vertical: $size-grid-padding / 1.2;
$size-buttonAlt-padding-horizontal: $size-grid-padding * 1.5;
$size-buttonAlt-padding: $size-buttonAlt-padding-vertical $size-buttonAlt-padding-horizontal;

// BLOG
$size-blogCard-paddingBottom: 4rem;
$size-blogCard-arrow-size: 3.5rem;
$size-blogCard-paginationItem-size: 2.5rem;
