// ===
// Base styles
// ===
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @extend %typography-small;
  background-color: $color-body-bg;
}

// ===
// Base element styles
// ===
.display-xl {
  @extend %typography-display-xl;
}
.display-lg {
  @extend %typography-display-lg;
}
.display-md {
  @extend %typography-display-md;
}
h1 {
  @extend %typography-xxlarge;
}
h2 {
  @extend %typography-xlarge;
}
h3 {
  @extend %typography-large;
}
h4 {
  @extend %typography-medium;
}
h5,
h6 {
  @extend %typography-small;
}

a {
  color: $color-link-text;
  transition: box-shadow $duration-animation-base linear, color $duration-animation-base linear;
  &:focus {
    @extend %custom-outline;
  }
  &:visited {
    color: $color-link-text;
  }
  &:hover {
    color: $color-link-text-hover;
  }
}
