.container {
  margin: 0 auto;
  padding-right: $size-gutter-width;
  padding-left: $size-gutter-width;
  max-width: $size-container-maxWidth;

  &--sm {
    max-width: $size-container-blogPost-maxWidth;
  }
}
